* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

.basis {
    display: flex;
    flex-basis: 50%;
}

/* ============================
** Header section style start
*============================= */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #161616;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    font-size: 20px;
    color: #d5d5d5;
    text-decoration: none;
}



/* ===================
** Counter App start
*==================== */
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter {
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.count_btn {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 50px;
}

.btn_1 {
    background-color: #d5d5d5;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .5s;
}

.btn_1:hover {
    background: #00dcb2;
}

.decrement.btn_1:hover {
    background-color: #ee2727;
}




/* ===================
** review App start
*==================== */
.reviews_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    gap: 50px;
}

.form_area {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form .btn_1 {
    text-align: center;
    background: #00dcb2;
    color: #2b0000;
}

.form textarea {
    background: #161616;
    outline: none;
    color: #fff;
    padding: 20px 10px;
}


.review_text_area p {
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    border-bottom: 2px solid #161616;
    display: inline-block;
}

.review_text_area {
    display: flex !important;
    flex-direction: column !important;
}



/* ===================
** Quote App start
*==================== */
.quote .reviews_section {
    flex-direction: column;
    width: 500px;
    background-color: #161616;
    box-shadow: 4px 4px 10px #041e19;
    border-radius: 10px;
}

h2.name {
    padding: 15px 0;
    color: darkgoldenrod;
}

button#quote_btn {
    float: right;
    border: none;
}